body {
  margin: 0;
  padding: 70px 0px 0px 0px;
  background-size: 100% 100%;
  background-position: center;
}

/* .fondo-inicio{
  background-size: 100% 100%;
  background-position: center;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
} */